// $red: #f32853;
// $dark: #323037;
// $white: #fff;
// $grey-bg: #f6f6f6;
// $border: #e3e3e3;
// $text: #aaaaaa;
.display-grid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding: 4rem 0;
    align-items: center;

    @include responsive(tablet) {
        width: 100%;
    }

    .grid-4-title {

        align-self: flex-start;
        padding: 3rem 0;

        h2 {
            color: $dark;
            font-weight: 600;
            font-size: 2.8rem;
        }

        p {
            color: $text;
            font-size: 1.6rem;
        }
    }

    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;

        @include responsive(tablet-p) {
            gap: 2rem;
        }

        @include responsive(tablet) {
            grid-template-columns: 1fr;
        }

        .grid-el {
            display: flex;
            gap: 1.4rem;
            align-items: center;
            justify-content: center;

            @include responsive(tablet-p) {
                img {
                    width: 90%;
                }
            }

            @include responsive(tablet) {
                img {
                    width: 40%;
                }
            }

            @include responsive(phone) {
                img {
                    width: 90%;
                }
            }

            &:first-child {
                text-align: end;
            }

            &:nth-child(3) {
                text-align: end;
            }


            img {
                border-radius: 50%;
                border: .4em solid $border;
            }

            .el-text {
                h3 {
                    font-weight: 600;
                    font-size: 1rem;
                    color: $dark;
                }

                p {
                    &:first-of-type {
                        color: $text;
                    }

                    &:last-of-type {
                        color: $text-grey;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}